form {
    margin-top: 60px;
    margin-left: 20%;
    margin-right: 20%;
}
label {
    font-family: 'Arvo', serif;
    font-weight: bold;
    font-size: 18pt;
}

#komentar {
    margin-top: 20px;
}

#objavi {
    margin-top: 20px;
    font-family: 'Arvo', serif;
    font-weight: bold;
}

body {
    background-color:#ebebeb;
}

.container {
    width: 50%;
    background-color: #ebebeb;
}

.content {
    height: 100vh;
    margin:20px;

}

.navbar {
    margin-bottom: 0;
}

@media screen and (max-width: 1400px) {
    .container {
        width: 50%;
    }
    .content {
        margin:0px;
    }
    #title {
        font-size: 70pt;
    }
    .navbar-nav > li{
        margin-left:0px;
        margin-right:0px;
        padding-left:0px;
        padding-right:0px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 50%;
    }
    .content {
        margin:0px;
    }
    #title {
        font-size: 60pt;
    }
    .navbar-nav > li{
        margin-left:0px;
        margin-right:0px;
        padding-left:0px;
        padding-right:0px;
        font-size: 19pt;
    }

}

@media screen and (max-width: 1000px) {
    .container {
        width: 60%;
    }
    .content {
        margin:0px;
    }
    #title {
        font-size: 50pt;
    }

    .navbar-nav > li{
        margin-left:0px;
        margin-right:0px;
        padding-left:0px;
        padding-right:0px;
        font-size: 19pt;
    }

}
@media screen and (max-width: 800px) {
    .container {
        width: 75%;
    }
    .content {
        margin:0px;
    }
    #title {
        font-size: 40pt;
    }
    .navbar-nav > li{
        margin-left:0px;
        margin-right:0px;
        padding-left:0px;
        padding-right:0px;

    }

}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
    .content {
        margin:0px;
    }

}


.page-header {
    text-align: center;
}

.post {
    height: 150px;
    width: 100%;
    border: solid 1px;
    border-color: #4C9B99;
    background-color: #fff;
    background-image:
            linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}

.text{
    padding: 15px;
    width: 65%;
    float: left;
    font-family: 'Arvo', serif;
    font-style: italic;
}

.rating{
    float:right;
    width: 25%;
    margin:8px;
}

.score{
    float:left;
    width: 30%;
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    position: relative;
    left: -20px;
}

.btn:active {
    border:none;
    outline:none;
}

.avtor{
    padding: 0 20px;
    padding-top: 120px;
    padding-bottom: 8px;
    font-family: 'Arvo', serif;
    font-style: italic;


}


.space {
    height: 20px;
}
.spaceBtn {
    height: 20px;
}


#test {
    width:80%;
}

.button {
    background-color: #4C9B99;
    border: none;
    color: white;
    padding: 1px 15px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    border-radius: 8px;
}


.button:active {
    border: 2px solid green;
}

@media screen and (max-width: 800px) {
    .button{
        font-size: 29px;
        padding: 1px 8px ;
        margin-top: 5px;
    }
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar-collapse {
    background-color: #ebebeb;
}
.nav {
    font-size: 30px;
    background-color: #ebebeb;
}
li { margin: 0 20px; display: inline;
    font-family: 'Arvo', serif;
}
ul { list-style: none outside none; margin:0; padding: 0; text-align: center; }
h1 {
    font-family: 'Arvo', serif;
    font-weight: bold;
    font-size: 72pt;
}
